<?xml version="1.0"?>
<launch>
    <arg name="map_file_name" default="maps/test_map.xml" />
    <arg name="config_file" default="$(find-pkg-share roadmap)/config/settings.yaml" />

    <node pkg="roadmap" exec="roadmap_node" name="roadmap_node" respawn="false" output="screen">
        <param from="$(find-pkg-share roadmap)/config/settings.yaml"/>
        <param name="roadmap.map_file_name" value="$(var map_file_name)"/>
        <remap from="~/input/vector_map" to="/map/vector_map"/>
        <remap from="~/input/route" to="/planning/mission_planning/route"/>
        <remap from="~/input/odometry" to="/localization/kinematic_state"/>
    </node>
</launch>  
