<?xml version="1.0"?>
<launch>

    <arg name="map" default="" />
    <arg name="overwrite_map" default="false" />
    <include file="$(find-pkg-share roadmap)/launch/roadmap.launch">
        <arg name="map" value="$(var map)"/>
        <arg name="overwrite_map" value="$(var overwrite_map)"/>
    </include>

    <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share roadmap)/rviz/rviz_config.rviz" output="log"/>

</launch>  