<?xml version="1.0"?>
<launch>

    <rosparam command="load" file="$(find roadmap)/config/settings.yaml"/>
    <node pkg="roadmap" type="roadmap_node" name="roadmap_node" cwd="node" respawn="false" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find roadmap)/rviz/rviz_config.rviz" output="log"/>

</launch>  
